{% extends "template.html" %}
{% block content %}
<!-- Barre de recherche -->
<div style="width: 20%" class="container mt-5 pt-4 position-relative">
    <form method="post" action="{{ url_for('recherche') }}" class="d-flex needs-validation" novalidate>
       <label for="recherche" class="form-label"></label>
       <input pattern=".*\S+.*" name="recherche" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" required>
       <button class="btn btn-success" type="submit">Rechercher</button>
        <div class="invalid-feedback position-absolute top-0 start-0 translate-middle-x translate-middle-y text-center">
            Recherche vide impossible
        </div>
    </form>
</div>
{% for article in liste %}
<div class="container mt-5 pt-4 text-center bg-primary-subtle card mb-4">
    <!-- Titre de l'article centré -->
    <h1 class="display-4 fw-bold">{{ article.titre }}</h1>
    <div class="p-4">
        <!-- Ligne distincte sous le titre avec le nom de l'auteur et la date de publication -->
        <hr class="my-4 border border-black">
        <!-- Informations sur l'auteur et la date, justifiées à gauche -->
        <p class="lead text-start">Par <span class="fw-bold">{{ article.nom_auteur }}</span></p>
        <!-- Ligne distincte sous le titre avec le nom de l'auteur et la date de publication -->
        <hr class="my-4 border border-black">
        <!-- Contenu de l'article, justifié à gauche -->
        <div class="lead text-start">
            {% if article.est_html == 1|int %}
        	    {{ article.contenu | safe }}
            {% else %}
        	    <p>{{ article.contenu }}</p>
            {% endif %}
        <!-- Ligne distincte sous le titre avec le nom de l'auteur et la date de publication -->
        <hr class="my-4 border border-black">
        <!--  -->
        <p class="lead text-start">Publié le <span class="fw-bold">{{ article.date }}</span></p>
        <!-- Ligne distincte sous le titre avec le nom de l'auteur et la date de publication -->
        <hr class="my-4 border border-black">
        </div>
    </div>
</div>

<!-- TODO : Si le ce n'est pas le dernier élément de la liste, inclure le <hr> -->
{% if not loop.last %}
	<!-- Ligne distincte délimitant les articles -->
    <hr class="my-4 border border-black border-top border-5 mt-5 container text-center">
{% endif %}     

{% endfor %} <!-- Fin de la liste d'article -->
 <script>
 // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
 </script>
{% endblock %}